<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DropTheBeat.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BD38B8D31D28A1B90089EAD9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BD38B8E71D28A1B90089EAD9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BD38B8F21D28A1B90089EAD9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
